@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap');

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #27283D;
  font-family: 'Bubblegum Sans', cursive;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
